<div>
	<p>Register</p>
	<form [formGroup]="registerForm" (ngSubmit)="register()">
		<div>
			<label for="firstname">Username</label>
			<input id="firstname" type="text" formControlName="firstname">
		</div>
		<div>
			<label for="password">Password</label>
			<input id="password" type="text" formControlName="password">
		</div>		
		<button type="submit">Confirm</button>
	</form>

	<div *ngIf="registerError !==''">{{registerError}}</div>

	<div *ngIf="newUid !== 0">
	Log In with the ID "{{newUid}}" and your password.
	</div>
	
	<button (click)="loginMenu()">Log in</button>
<div>
