@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.center {
  margin: auto;
  text-align: center;
  width: 20%;
  border: 2px solid grey;
  padding: 10px;
}

.profile-card {
  max-width: 1000px;
}
